In [2]:
# Numerical libs
import numpy as np
import pandas as pd

# ML libs
from sklearn.model_selection import train_test_split

# Plotting libs
import matplotlib.pyplot as plt
import seaborn as sns
# Utils

# Load data

In [3]:
datafile = 'datasets/hypo/hypothyroid2.csv'
df = pd.read_csv(datafile)

In [4]:
df.shape

(3772, 30)

In [7]:
df.head(5)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative

In [11]:
df.describe()

,age,TSH,T3,TT4,T4U,FTI,TBG
count,3771.000000,3403.000000,3003.000000,3541.000000,3385.000000,3387.000000,0.0
mean,51.735879,5.086766,2.013500,108.319345,0.995000,110.469649,NaN
std,20.084958,24.521470,0.827434,35.604248,0.195457,33.089698,NaN
min,1.000000,0.005000,0.050000,2.000000,0.250000,2.000000,NaN
25%,36.000000,0.500000,1.600000,88.000000,0.880000,93.000000,NaN
50%,54.000000,1.400000,2.000000,103.000000,0.980000,107.000000,NaN
75%,67.000000,2.700000,2.400000,124.000000,1.080000,124.000000,NaN
max,455.000000,530.000000,10.600000,430.000000,2.320000,395.000000,NaN

# Data preprocessing

- https://en.wikipedia.org/wiki/Data_pre-processing
- https://towardsdatascience.com/data-preprocessing-concepts-fa946d11c825
- https://www.geeksforgeeks.org/data-preprocessing-in-data-mining/
- https://www.youtube.com/watch?v=zVImIQuqjQ0&list=PLzH6n4zXuckpfMu_4Ff8E7Z1behQks5ba&index=5

**Data types**
- Categorical (binary, multiple classes). Ex: days in a week, sex
- Numerical (continuous, integer-valued). Ex: measurements, age

**Problems with data**
> Garbage in, garbage out

- Usually the data is messy and problematic. We might get missing values, impossible values, duplicate values where it shouldn't happen etc. 
- It's our job to clean the data and prepare it for our model.
- The better the data we feed to the model, the better the model will be

## Data cleaning

### Human / Expert cleaning

Usually the human can analyze the dataset and see if there is something wrong.

- For example `age` shouldn't be an absurd number (such as 400) nor negative (-2).
- `TTL` shouldn't be negative

If we have domain knowledge we can use it to clear (drop rows) / replace these values.

In [12]:
# We can see that our dataset contains ages that are too big. Let's clear these
df.describe()

,age,TSH,T3,TT4,T4U,FTI,TBG
count,3771.000000,3403.000000,3003.000000,3541.000000,3385.000000,3387.000000,0.0
mean,51.735879,5.086766,2.013500,108.319345,0.995000,110.469649,NaN
std,20.084958,24.521470,0.827434,35.604248,0.195457,33.089698,NaN
min,1.000000,0.005000,0.050000,2.000000,0.250000,2.000000,NaN
25%,36.000000,0.500000,1.600000,88.000000,0.880000,93.000000,NaN
50%,54.000000,1.400000,2.000000,103.000000,0.980000,107.000000,NaN
75%,67.000000,2.700000,2.400000,124.000000,1.080000,124.000000,NaN
max,455.000000,530.000000,10.600000,430.000000,2.320000,395.000000,NaN

In [13]:
#Get the wrong values
df[df['age'] > 100]

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
1364,455.0,F,f,f,f,f,f,f,f,f,...,t,118.0,t,1.13,t,104.0,f,NaN,SVI,negative

In [14]:
#drop them
df = df.drop(df[df['age'] > 100].index)

In [15]:
df[df['age'] > 100]

Empty DataFrame
Columns: [age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_medication, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid, query_hyperthyroid, lithium, goitre, tumor, hypopituitary, psych, TSH_measured, TSH, T3_measured, T3, TT4_measured, TT4, T4U_measured, T4U, FTI_measured, FTI, TBG_measured, TBG, referral_source, Class]
Index: []

[0 rows x 30 columns]

In [62]:
# TSH can be a maximum of 450. Drop the values above that

In [16]:
df[df['TSH'] > 450]['TSH']

1165    478.0
2507    472.0
2772    468.0
3449    530.0
Name: TSH, dtype: float64

In [17]:
print(df.shape)
df = df.drop(df[df['TSH'] > 450].index)
print(df.shape)

(3771, 30)
(3767, 30)

### Missing data

Datasets might have some missing data in them. 
- When it comes to almost empty columns (features) we drop those. 
- When it comes to rows we have 2 options: 
    1. We drop the missing rows
    2. We try to fill them

Let's talk about filling the rows. *How should we fill them?*
- Zero (not reccomended)
- Estimate from the distribution 
- Mean
- Median

#### Pandas methods to check for missing data

In [18]:
df.isna() # Or df.isnull()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,True,False,True,False,False
3768,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3769,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3770,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3771,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [66]:
np.all(df.isna() == df.isnull())

True

In [19]:
# Let's get the missing values / feature
df.isna().sum()

age                             1
sex                           149
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
sick                            0
pregnant                        0
thyroid_surgery                 0
I131_treatment                  0
query_hypothyroid               0
query_hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH_measured                    0
TSH                           369
T3_measured                     0
T3                            768
TT4_measured                    0
TT4                           231
T4U_measured                    0
T4U                           387
FTI_measured                    0
FTI                           385
TBG_measured                    0
TBG                          3767
referral_source                 0
Class                           0
dtype: int64

In [20]:
# We can see that TBG columns is almost empty so let's drop it
df = df.drop(['TBG'], axis = 1)

In [21]:
# Let's drop the rows that don't have the sex attribute since we can't fill them

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
print(df.shape)
df = df.dropna(subset = ['sex'])
print(df.shape)

(3767, 29)
(3618, 29)

In [22]:
# We shall fill the rest

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html
df = df.fillna(df.mean())

In [23]:
df.isna().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
referral_source              0
Class                        0
dtype: int64

In [24]:
sum(df['sex'] == 'M'), sum(df['sex'] == 'F')

(1142, 2476)

In [73]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,referral_source,Class
0,41.0,F,f,f,f,f,f,f,f,f,...,2.500000,t,125.0,t,1.14000,t,109.000000,f,SVHC,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,2.000000,t,102.0,f,0.99531,f,110.357701,f,other,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,2.011113,t,109.0,t,0.91000,t,120.000000,f,other,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,1.900000,t,175.0,f,0.99531,f,110.357701,f,other,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,1.200000,t,61.0,t,0.87000,t,70.000000,f,SVI,negative

## Encoding

Data usually comes in 2 types
1. Numerical data $\to$ Continuous variables
2. Categorical data $\to$ Discrete variables
    - 2 Classes $\to$ Binary data
    - Multiple classes

Sometimes we need to encode this data to numerical data for our algorithm to eat it

### Ordinal Encoding

Each category will get its own number
`['value0', 'value1', 'value2', 'value0', 'value2'] -> [0, 1, 2, 0, 2]`

**Pros and cons**
- $+$ Simple, short
- $-$ The variables are mapped from a space with no order $\to$ a space with order (The number line)
    - This may make some algorithms interpret it as such
    - It might not be a true representation of data
    
Examples: 
- Price: `[cheap, affordable, expensive] ->  [0, 1, 2]` is a good representation
- Animal type: `[mammal, insect, bird]` -> [0, 1, 2]` is not a good one

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
enc = OrdinalEncoder()
enc.fit(df[['sex']])
enc.categories_

[array(['F', 'M'], dtype=object)]

In [89]:
enc.transform(df[['sex']])

array([[0.],
       [0.],
       [1.],
       ...,
       [0.],
       [1.],
       [0.]])

### One-hot encoding

Each variable will be encoded with an array of 0s and a 1 that represents the category
```
['value0', 'value1', 'value2', 'value0', 'value2'] -> 
[1, 0, 0]
[0, 1, 0]
[0, 0, 1]
[1, 0, 0]
[0, 0, 1]
```

**Pros and cons**
- $+$ Simple
- $+$ Keeps the variables separated
- $-$  expensive -> big dimensions
- $\pm$ Sparse (depends on algorithm)

In [27]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()
enc.fit(df[['sex']])
enc.categories_

[array(['F', 'M'], dtype=object)]

In [28]:
enc.transform(df[['sex']])

<3618x2 sparse matrix of type '<class 'numpy.float64'>'
	with 3618 stored elements in Compressed Sparse Row format>

### Back to our data

In [29]:
for feature in df:
    if df[feature].dtype != 'float64':
        print(feature, np.unique(df[feature]))

sex ['F' 'M']
on_thyroxine ['f' 't']
query_on_thyroxine ['f' 't']
on_antithyroid_medication ['f' 't']
sick ['f' 't']
pregnant ['f' 't']
thyroid_surgery ['f' 't']
I131_treatment ['f' 't']
query_hypothyroid ['f' 't']
query_hyperthyroid ['f' 't']
lithium ['f' 't']
goitre ['f' 't']
tumor ['f' 't']
hypopituitary ['f' 't']
psych ['f' 't']
TSH_measured ['f' 't']
T3_measured ['f' 't']
TT4_measured ['f' 't']
T4U_measured ['f' 't']
FTI_measured ['f' 't']
TBG_measured ['f']
referral_source ['STMW' 'SVHC' 'SVHD' 'SVI' 'other']
Class ['compensated_hypothyroid' 'negative' 'primary_hypothyroid'
 'secondary_hypothyroid']

In [30]:
# Let's drop the referral source and TBG measures since they seem to be meaningless
df = df.drop(['TBG_measured', 'referral_source'], axis = 1)

In [31]:
df_enc = df.copy()

In [32]:
for feature in df_enc:
    if df_enc[feature].dtype != 'float64':
        enc = OrdinalEncoder()
        df_enc[feature] = enc.fit_transform(df_enc[[feature]])

In [33]:
df_enc.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,Class
0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.30,1.0,2.500000,1.0,125.0,1.0,1.14000,1.0,109.000000,1.0
1,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.10,1.0,2.000000,1.0,102.0,0.0,0.99531,0.0,110.357701,1.0
2,46.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.98,0.0,2.011113,1.0,109.0,1.0,0.91000,1.0,120.000000,1.0
3,70.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.16,1.0,1.900000,1.0,175.0,0.0,0.99531,0.0,110.357701,1.0
4,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.72,1.0,1.200000,1.0,61.0,1.0,0.87000,1.0,70.000000,1.0

# Feature selection

## Tree

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
X = df_enc.drop(['Class'], axis = 1)
y = df_enc['Class'] # the target value are the class columns

tree = DecisionTreeClassifier(random_state=420) 
tree.fit(X, y)

DecisionTreeClassifier(random_state=420)

In [36]:
fimp_df = pd.DataFrame({"feature_names": X.columns, "feature_importance": tree.feature_importances_}).sort_values(by = "feature_importance", ascending=False)

fimp_df[fimp_df['feature_importance'] > 10e-5]

        feature_names  feature_importance
17                TSH            0.591264
25                FTI            0.177275
2        on_thyroxine            0.132206
21                TT4            0.042333
7     thyroid_surgery            0.030891
19                 T3            0.008398
20       TT4_measured            0.004998
23                T4U            0.003818
0                 age            0.003699
9   query_hypothyroid            0.002559
18        T3_measured            0.002559

## K best

**Chi2**
- https://www.youtube.com/watch?v=2QeDRsxSF9M

In [37]:
from sklearn.feature_selection import SelectKBest, chi2

In [38]:
X = df_enc.drop(['Class'], axis = 1)
y = df_enc['Class'] # the target value are the class columns

In [39]:
selector = SelectKBest(chi2, k=3)
selector.fit(X, y)

SelectKBest(k=3, score_func=<function chi2 at 0x000001D48814D280>)

In [40]:
X_new = X.iloc[:, selector.get_support(indices=True)]
X_new

           TSH         TT4         FTI
0     1.300000  125.000000  109.000000
1     4.100000  102.000000  110.357701
2     0.980000  109.000000  120.000000
3     0.160000  175.000000  110.357701
4     0.720000   61.000000   70.000000
...        ...         ...         ...
3767  4.558648  108.274566  110.357701
3768  1.000000  124.000000  114.000000
3769  5.100000  112.000000  105.000000
3770  0.700000   82.000000   87.000000
3771  1.000000   99.000000   92.000000

[3618 rows x 3 columns]

### Test the selected features

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=420)
X2_train, X2_test, y2_train, y2_test = train_test_split(X_new, y, test_size=0.33, random_state=420)

In [43]:
np.all(X_train.index == X2_train.index)

True

In [44]:
reg1 = LogisticRegression(random_state=420)
reg1.fit(X_train, y_train)

reg2 = LogisticRegression(random_state=420)
reg2.fit(X2_train, y2_train)

g:\conda3\envs\pytorch_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
g:\conda3\envs\pytorch_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=420)

In [45]:
print(f"Accuracy with all features: {reg1.score(X_test, y_test)}")
print(f"Accuracy with selected features: {reg2.score(X2_test, y2_test)}")

Accuracy with all features: 0.9463986599664992
Accuracy with selected features: 0.9447236180904522

In [208]:
#Tree 
tree1 = DecisionTreeClassifier(random_state=420)
tree1.fit(X_train, y_train)
tree2 = DecisionTreeClassifier(random_state=420)
tree2.fit(X2_train, y2_train)
print(f"Accuracy with all features: {tree1.score(X_test, y_test)}")
print(f"Accuracy with selected features: {tree2.score(X2_test, y2_test)}")

Accuracy with all features: 0.992462311557789
Accuracy with selected features: 0.97571189279732